<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <script>

    </script>

    <body>
    <h1>Aula de EJS - Aluno: <%= aluno %></h1>
    <% for (let aula of aulas) { %>
        <h3><%= aula %></h3>
    <% } %>

    <img src="teste/img/nodejs.png">

    </body>

</html>